[submodule "lungmask"]
	path = lungmask
	url = https://github.com/AndreiSerbanescu/lungmask.git
[submodule "streamlit-container"]
	path = streamlit-container
	url = https://github.com/AndreiSerbanescu/streamlit-container.git
[submodule "CTMuscleSegmentation"]
	path = CTMuscleSegmentation
	url = https://github.com/AndreiSerbanescu/CTMuscleSegmentation.git
[submodule "lungmask-1"]
	path = lungmask-1
	url = https://github.com/AndreiSerbanescu/lungmask-1.git
[submodule "CTVisceralFat"]
	path = CTVisceralFat
	url = https://github.com/AndreiSerbanescu/CTVisceralFat.git
[submodule "covid_lesion_detection"]
	path = covid_lesion_detection
	url = git@github.com:AndreiSerbanescu/covid_lesion_detection.git
[submodule "covid_lesion_detection_seg"]
	path = covid_lesion_detection_seg
	url = git@github.com:AndreiSerbanescu/covid_lesion_detection_seg.git
