[submodule "lungmask"]
	path = lungmask
	url = https://github.com/AndreiSerbanescu/lungmask.git
[submodule "streamlit-container"]
	path = streamlit-container
	url = https://github.com/AndreiSerbanescu/streamlit-container.git
[submodule "CTMuscleSegmentation"]
	path = CTMuscleSegmentation
	url = https://github.com/AndreiSerbanescu/CTMuscleSegmentation.git
[submodule "lungmask-1"]
	path = lungmask-1
	url = https://github.com/AndreiSerbanescu/lungmask-1.git
[submodule "CTVisceralFat"]
	path = CTVisceralFat
	url = https://github.com/AndreiSerbanescu/CTVisceralFat.git
