_libgcc_mutex
_tflow_select
absl-py
asn1crypto
astor
attrs
blas
blinker
bzip2
c-ares
ca-certificates
cachetools
cairo
certifi
cffi
chardet
click
cloudpickle
cryptography
cudatoolkit
cudnn
cupti
cycler
cytoolz
dask-core
dbus
decorator
#dm-tree
enum34
expat
ffmpeg
fontconfig
freeglut
freetype
gast
glib
google-auth
google-auth-oauthlib
google-pasta
graphite2
grpcio
grpcio-tools
gst-plugins-base
gstreamer
h5py
harfbuzz
hdf5
icu
idna
imageio
intel-openmp
jasper
jpeg
keras
keras-applications
keras-preprocessing
kiwisolver
ld_impl_linux-64
libedit
libffi
libgcc-ng
libgfortran-ng
libglu
libopencv
libopus
libpng
libprotobuf
libstdcxx-ng
libtiff
libuuid
libvpx
libxcb
libxml2
markdown
matplotlib
matplotlib-base
mkl
mkl-service
mkl_fft
mkl_random
mpmath
ncurses
networkx
numpy
numpy-base
oauthlib
olefile
opencv
#opencv-python
openssl
opt-einsum
opt_einsum
pandas
pcre
pillow
pip
pixman
portpicker
protobuf
py-opencv
pyasn1
pyasn1-modules
pycparser
pyjwt
pyopenssl
pyparsing
pyqt
pysocks
python
python-dateutil
pytz
pywavelets
pyyaml
qt
readline
requests
requests-oauthlib
retrying
rsa
scikit-image
scipy
setuptools
simpleitk
sip
six
sqlite
tensorboard
tensorflow
#tensorflow-addons
tensorflow-base
tensorflow-estimator
#tensorflow-federated
tensorflow-gpu
#tensorflow-model-optimization
#tensorflow-privacy
termcolor
tk
toolz
tornado
tqdm
typeguard
urllib3
werkzeug
wheel
wrapt
xz
zlib
zstd
